<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- =====  BASIC PAGE NEEDS  ===== -->
  <meta charset="utf-8">
  <title>Shop Family 4</title>
  <!-- =====  SEO MATE  ===== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="distribution" content="global">
  <meta name="revisit-after" content="2 Days">
  <meta name="robots" content="ALL">
  <meta name="rating" content="8 YEARS">
  <meta name="Language" content="en-us">
  <meta name="GOOGLEBOT" content="NOARCHIVE">
  <!-- =====  MOBILE SPECIFICATION  ===== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width">
  <!-- =====  CSS  ===== -->
  <link rel="stylesheet" type="text/css" th:href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" th:href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" th:href="css/style.css">
  <link rel="stylesheet" type="text/css" th:href="css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" th:href="css/owl.carousel.css">
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>
  <!-- =====  LODER  ===== -->
  <div class="loder"></div>
  <div class="wrapper">
    <!-- =====  HEADER START  ===== -->
    <header id="header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="header-top-left">
                <div class="contact"><a href="#">Family 4</a> <span class="hidden-xs hidden-sm hidden-md">(029)883-8920</span></div>
              </div>
            </div>
              <div class="col-xs-12 col-sm-8">
                  <ul class="header-top-right text-right">
                      <li class="account"><a th:href="@{/user/login}" href="#">Tài Khoản</a></li>
                      <li class="language dropdown">
                          <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Ngôn Ngữ <span class="caret"></span> </span>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="#">English</a></li>
                              <li><a href="#">Tiếng Việt</a></li>
                          </ul>
                      </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="main-search mt_40">
                <input id="search-input" name="search" value="" placeholder="Tìm Kiếm" class="form-control input-lg" autocomplete="off" type="text">
                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
              </span> </div>
                <div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" th:href="@{/}"> <img alt="Online Shop Family4" src="images/family4.jpg"> </a> </div>
                <div class="col-xs-6 col-sm-4 shopcart">
                    <div id="cart" class="btn-group btn-block mtb_40">
                        <button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
                            <span id="shippingcart">Giỏ Hàng</span>
                            <span id="cart-total">Số Lượng
                                    <th:block th:if="${giohang}">
                                        <span th:text="${giohang.size}"></span >
                                    </th:block>
                                    <th:block th:unless="${giohang}">
                                        <span> 0</span >
                                    </th:block>

                                    </span>
                        </button>
                    </div>
                    <div id="cart-dropdown" class="cart-menu collapse">
                        <ul>
                            <li>
                                <table class="table table-striped">
                                    <tbody>
                                    <th:block th:each="item : ${giohang}">
                                        <tr>
                                            <td class="text-left product-name">
                                                <span class="text-left price" th:text="${item.menu.tenMon}"></span>
                                                <span class="text-left price" th:text="${item.menu.giaBan}"></span>
                                                <input class="cart-qty" name="product_quantity" min="1" th:value="${item.soLuong}" type="number">
                                            </td>
                                            <td class="text-center"><a class="close-cart"><i class="fa fa-times-circle"></i></a></td>
                                            <td class="text-right"><strong>Tổng Tiền Hàng</strong></td>
                                            <td class="text-right" th:id="'item.soLuong-' + ${item.menu.id}">VNĐ</td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </li>
                            <li>
                                <form action="xemGioHang">
                                    <input class="btn pull-left mt_9" value="Xem Giỏ" type="submit">
                                </form>
                                <form action="thanhToan">
                                    <input class="btn pull-right mt_10" value="Thanh Toán" type="submit">
                                </form>
                            </li>
                        </ul>
                    </div>
            </div>
          </div>
              <nav class="navbar">
                  <p>Menu</p>
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
                  <div class="collapse navbar-collapse js-navbar-collapse">
                      <ul id="menu" class="nav navbar-nav">
                          <li> <a th:href="@{/}">Trang Chủ</a></li>
                          <li> <a th:href="@{/#monan}">Món ăn</a></li>
                          <li> <a th:href="@{/#nuocuong}">Nước uống</a></li>
                      </ul>
                  </div>

              </nav>
        </div>
      </div>
      </div>
    </header>
    <!-- =====  HEADER END  ===== -->
    <!-- =====  CONTAINER START  ===== -->
    <div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Giỏ Hàng</h1>
            <ul>
              <li> <a th:href="@{/}">Trang Chủ</a></li>
              <li class="active">Giỏ Hàng</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default  ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Bước 1: Tuỳ Chọn Thanh Toán <i class="fa fa-caret-down"></i></a></h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <h3>Khách Hàng Mới</h3>
                      <p>Tuỳ Chọn Thanh Toán:</p>
                      <div class="radio">
                        <label>
                          <input type="radio" checked="checked" value="register" name="account"> Đăng Ký Tài Khoản</label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" value="guest" name="account"> Thanh Toán Của Khách Hàng</label>
                      </div>
                      <p>Bằng cách tạo Tài Khoản, bạn có thể thanh toán nhanh hơn, cập nhật trạng thái đơn hàng và theo dõi đơn hàng bạn đã thanh toán trước đó.</p>
                      <input type="button" class="btn mt_20" data-loading-text="Loading..." id="button-account" value="Tiếp Tục">
                    </div>
                    <div class="col-sm-6">
                      <h3>Phản Hồi Của Khách Hàng</h3>
                      <p>Tôi Là Một Khách Hàng Cũ</p>
                      <div class="form-group">
                        <label for="input-email" class="control-label">E-Mail</label>
                        <input type="text" class="form-control" id="input-email" placeholder="E-Mail" value="" name="email">
                      </div>
                      <div class="form-group">
                        <label for="input-password" class="control-label">Mật Khẩu</label>
                        <input type="password" class="form-control" id="input-password" placeholder="Mật Khẩu" value="" name="password">
                        <input type="button" class="btn mt_20" data-loading-text="Loading..." id="button-login" value="Đăng Nhập">
                        <a class="pt_30" href="#">Quên Mật Khẩu</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Bước 2: Chi Tiết Thanh Toán <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <form class="form-horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" value="existing" name="payment_address" data-id="payment-existing"> Tôi Muốn Sử Dụng Địa Chỉ Hiện Tại</label>
                    </div>
                    <div id="payment-existing">
                      <select class="form-control" name="address_id">
                        <option selected="selected" value="4">Địa chỉ nơi bạn ở </option>
                      </select>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" value="new" name="payment_address" data-id="payment-new">Tôi Muốn Sử Dụng Địa Chỉ Mới</label>
                    </div>
                    <br>
                    <div id="payment-new" style="display: none;">
                      <div class="form-group required">
                        <label for="input-payment-firstname" class="col-sm-2 control-label">Họ</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-payment-firstname" placeholder="Họ" value="" name="firstname">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-payment-lastname" class="col-sm-2 control-label">Tên</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-payment-lastname" placeholder="Tên" value="" name="lastname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-payment-company" class="col-sm-2 control-label">Công Ty</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-payment-company" placeholder="Công Ty" value="" name="company">
                        </div>
                      </div>
                      <div class="form-group required">
                          <label for="input-payment-address-1" class="col-sm-2 control-label">Địa chỉ </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-payment-address-1" placeholder="Địa chỉ 1" value="" name="address_1">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-payment-city" class="col-sm-2 control-label">Thành Phố</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-payment-city" placeholder="Thành Phố" value="" name="city">
                        </div>
                      </div>
                      </div>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <input type="button" class="btn" data-loading-text="Loading..." id="button-payment-address" value="Tiếp Tục">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Bước 3: Chi Tiết Giao Hàng <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <form class="form-horizontal">
                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" value="existing" name="shipping_address">Tôi Muốn Sử Dụng Địa Chỉ Hiện Có</label>
                    </div>
                    <div id="shipping-existing">
                      <select class="form-control" name="address_id">
                        <option selected="selected" value="4"></option>
                      </select>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" value="new" name="shipping_address"> Tôi Muốn Sử Dụng Địa Chỉ Mới </label>
                    </div>
                    <br>
                    <div id="shipping-new" style="display: none;">
                      <div class="form-group required">
                        <label for="input-shipping-firstname" class="col-sm-2 control-label">Họ</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-firstname" placeholder="Họ" value="" name="firstname">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-lastname" class="col-sm-2 control-label">Tên</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-lastname" placeholder="Tên " value="" name="lastname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="input-shipping-company" class="col-sm-2 control-label">Công Ty</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-company" placeholder="Công Ty" value="" name="company">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-address-1" class="col-sm-2 control-label">Địa Chỉ </label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-address-1" placeholder="Địa Chỉ 1" value="" name="address_1">
                        </div>
                      </div>
                      <div class="form-group required">
                        <label for="input-shipping-city" class="col-sm-2 control-label">Thành Phố</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="input-shipping-city" placeholder="Thành Phố" value="" name="city">
                        </div>
                      </div>
                    </div>
                    <div class="buttons clearfix">
                      <div class="pull-right">
                        <input type="button" class="btn" data-loading-text="Loading..." id="button-shipping-address" value="Tiếp Tục">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">Bước 4: Phương Thức Giao Hàng<i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapsefour" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Vui lòng chọn phương thức vận chuyển ưa thích để sử dụng cho đơn đặt hàng này.</p>
                  <p><strong>Giá Cố Định</strong></p>
                  <div class="radio">
                    <label>
                      <input type="radio" checked="checked" value="flat.flat" name="shipping_method"> Phí Vận Chuyển Cố Định - 25.000VNĐ</label>
                  </div>
                  <p><strong>Ghi chú thêm về đơn hàng của bạn</strong></p>
                  <p>
                    <textarea class="form-control" rows="8" name="comment"></textarea>
                  </p>
                  <div class="buttons">
                    <div class="pull-right">
                      <input type="button" class="btn mt_20" data-loading-text="Loading..." id="button-shipping-method" value="Tiếp Tục">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">Bước 5: Phương Thức Thanh Toán <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapsefive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Vui lòng chọn phương thức thanh toán ưa thích để sử dụng cho đơn đặt hàng này.</p>
                  <div class="radio">
                    <label>
                      <input type="radio" checked="checked" value="cod" name="payment_method"> Thanh toán khi giao hàng </label>
                  </div>
                  <p><strong>Thêm ghi chú của bạn về đơn hàng</strong></p>
                  <p>
                    <textarea class="form-control" rows="8" name="comment"></textarea>
                  </p>
                  <div class="buttons">
                    <div class="pull-right mt_20">Tôi đã đọc và đồng ý với <a class="agree" href="#"><b>các Điều Khoản &amp; và Điều Kiện</b></a>
                      <input type="checkbox" value="1" name="agree"> &nbsp;
                      <input type="button" class="btn" data-loading-text="Loading..." id="button-payment-method" value="Tiếp Tục">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default ">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsesix">Bước 6: Xác Nhận Đơn Hàng <i class="fa fa-caret-down"></i></a> </h4>
              </div>
              <div id="collapsesix" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <td class="text-left">Tên món ăn</td>
                                  <td class="text-right">Số lượng</td>
                                  <td class="text-right">Giá món ăn</td>
                                  <td class="text-right">Tổng cộng</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-left"><a href="http://localhost/opc001/index.php?route=product/product&amp;product_id=46">Bún Bò</a></td>
                                  <<!--td class="text-left">Product 19</td>-->
                                  <td class="text-right">1</td>
                                  <td class="text-right">25.000VNĐ</td>
                                  <td class="text-right">25.000VNĐ</td>
                              </tr>
                          </tbody>
                          <tbody>
                              <tr>
                                  <td class="text-left"><a href="http://localhost/opc001/index.php?route=product/product&amp;product_id=46">Cơm Tấm</a></td>
                                  <<!--td class="text-left">Product 19</td>-->
                                  <td class="text-right">1</td>
                                  <td class="text-right">30.000VNĐ</td>
                                  <td class="text-right">30.000VNĐ</td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr>
                                  <td class="text-right" colspan="4"><strong>Tổng Tiền Hàng:</strong></td>
                                  <td class="text-right">55.000VNĐ</td>
                              </tr>
                              <tr>
                                  <td class="text-right" colspan="4"><strong>Phí Ship:</strong></td>
                                  <td class="text-right">15.000VNĐ</td>
                              </tr>
                              <tr>
                                  <td class="text-right" colspan="4"><strong>Tổng Cộng:</strong></td>
                                  <td class="text-right">70.000VNĐ</td>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
                  <div class="buttons">
                    <div class="pull-right">
                      <input type="button" data-loading-text="Loading..." class="btn" id="button-confirm" value="Xác Nhận Đơn Hàng">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="brand_carouse" class="ptb_30 text-center">
        <div class="type-01">
          <div class="heading-part mb_20 ">
              <h2 class="main_title">Biểu Tượng Thương Hiệu</h2>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="brand owl-carousel ptb_20">
                <div class="item text-center"> <a href="#"><img src="images/brand/brand1.png" alt="Disney" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand2.png" alt="Dell" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand3.png" alt="Harley" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand4.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand5.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand6.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand7.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand8.png" alt="Canon" class="img-responsive" /></a> </div>
                <div class="item text-center"> <a href="#"><img src="images/brand/brand9.png" alt="Canon" class="img-responsive" /></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =====  CONTAINER END  ===== -->
    <!-- =====  FOOTER START  ===== -->
    <div class="footer pt_60">
      <div class="container">
        <div class="row">
          <div class="footer-top pb_60 mb_30">
            <div class="col-xs-12 col-sm-6">
              <div class="footer-logo"> <a th:href=@{"/"}> <img src="images/family4.jpg" alt="Online Shop Rider"> </a> </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
     </div>
    <!-- =====  FOOTER END  ===== -->
  </div>
  <a id="scrollup"></a>
  <script src="js/jQuery_v3.1.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.magnific-popup.js"></script>
  <script src="js/custom.js"></script>
  <script type="text/javascript">
  $('input[name=\'payment_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#payment-existing').hide();
      $('#payment-new').show();
    } else {
      $('#payment-existing').show();
      $('#payment-new').hide();
    }
  });
  $('input[name=\'shipping_address\']').on('change', function() {
    if (this.value == 'new') {
      $('#shipping-existing').hide();
      $('#shipping-new').show();
    } else {
      $('#shipping-existing').show();
      $('#shipping-new').hide();
    }
  });
  </script>
</body>

</html>